<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Exports</h3>
	</div>
	<div class="panel-body">
		<fieldset>
			<legend>Coordonnées membres</legend>
			<ul>
				<li>numéro membre</li>
				<li>nom</li>
				<li>prénom</li>
				<li>région</li>
				<li>email</li>
				<li>adresse1</li>
				<li>adresse2</li>
				<li>adresse3</li>
				<li>ville</li>
				<li>code postal</li>
				<li>pays</li>
			</ul>
			<a type="button" class="btn btn-info exportCoordonnees" href="services/exportCoordonnees.php" target="_blank">Exporter les coordonnées</a>
		</fieldset>
	</div>
</div>

<div class="panel panel-danger">
	<div class="panel-heading">
		<h3 class="panel-title">Imports</h3>
	</div>
	<div class="panel-body">
		<fieldset>
			<legend>Cotisations</legend>
			<ul>
				<li>numero_membre</li>
				<li>region</li>
				<li>tarif (plein, etudiant, etc.)</li>
				<li>montant (en euros)</li>
				<li>date_debut (YYYY-MM-DD)</li>
				<li>date_fin (YYYY-MM-DD)</li>
			</ul>

			<form class="importCotisations" enctype="multipart/form-data" method="POST" target="cotisationTarget" action="services/importCotisations.php">
				<input type="file" class="form-control fileselector" required="true" name="csv-cotisations">
				<button type="submit" class="btn btn-danger importCotisations">Importer les cotisations</button>
				<div class="waitIndicator"></div>
			</form>

			<iframe name="cotisationTarget" id="hiddenCotisationTarget"></iframe>

			<div id="messageZone"></div>
		</fieldset>
	</div>
</div>
