<div class="container">
	<div class="well section">
		<form class="form-inline" role="form" id="memberIdForm">
			Numéro de Membre: <input type="text" class="form-control" id="memberIdInput" value="{{memberId}}"> <button class="btn btn-default">valider</button>
		</form>
	</div>

	<div id="resultRegion" class="section"></div>
</div>
