<div class="panel-heading" data-toggle="collapse" data-target="#cotisantsExportDetails">
	<h3 class="panel-title">Export membres cotisants</h3>
</div>
<div class="panel-body">
	<ul id="cotisantsExportDetails" class="collapse">
		<li>prenom</li>
		<li>nom</li>
		<li>numero_membre</li>
		<li>fin_cotisation</li>
	</ul>
	<a type="button" class="btn btn-info exportMembresCotisants" href="services/exportMembresCotisants.php" target="_blank">Exporter les cotisants</a>
</div>
