<div class="panel-heading">
	<h3 class="panel-title">Export Coordonnées membres</h3>
</div>
<div class="panel-body">
	<ul>
		<li>numéro membre</li>
		<li>nom</li>
		<li>prénom</li>
		<li>région</li>
		<li>email</li>
		<li>adresse1</li>
		<li>adresse2</li>
		<li>adresse3</li>
		<li>ville</li>
		<li>code postal</li>
		<li>pays</li>
	</ul>
	<a type="button" class="btn btn-info exportCoordonnees" href="services/exportCoordonnees.php" target="_blank">Exporter les coordonnées</a>
</div>
