<div class="panel-heading">
	<h3 class="panel-title">Imports Cotisations</h3>
</div>
<div class="panel-body">
	<ul>
		<li>numero_membre</li>
		<li>region</li>
		<li>tarif <span class="muted">(plein, etudiant, etc.)</span></li>
		<li>montant <span class="muted">(en euros)</span></li>
		<li>date_debut <span class="muted">(YYYY-MM-DD)</span></li>
		<li>date_fin <span class="muted">(YYYY-MM-DD)</span></li>
	</ul>

	<form class="importForm" enctype="multipart/form-data" method="POST" target="cotisationTarget" action="services/importCotisations.php">
		<input type="file" class="form-control fileselector" required="true" name="csv-import">
		<button type="submit" class="btn btn-danger import">Importer les cotisations</button>
		<div class="waitIndicator"></div>
	</form>

	<iframe name="cotisationTarget"></iframe>

	<div class="messageZone"></div>
</div>
