<div class="panel-heading">
	<h3 class="panel-title">Mise à jour des informations LDAP</h3>
</div>
<div class="panel-body">
	<form class="importForm" method="POST" target="updateLdapTarget" action="services/updateLdapProfiles.php">
		<button type="submit" class="btn btn-danger import">Mettre à jour LDAP</button>
		<div class="waitIndicator"></div>
	</form>

	<iframe name="updateLdapTarget"></iframe>

	<div class="messageZone"></div>
</div>
